<html>
<head>
	<title>Sharpners - Log in or Sign up</title>
</head>
<body>
	<center>
		<form method="post" action="../controller/loginCheck.php" enctype="">
			<fieldset>
				<h1>SHARPNERS</h1>
				<h2>Log In</h2>
				<table>
					<tr>
						<td>User Name</td>
					<tr></tr>
					<td><input type="text" name="UserName" value=""></td>
					</tr>
					<tr>
						<td>Password</td>
					<tr></tr>
					<td><input type="password" name="Password" value=""></td>
					</tr>
					<tr>
						<td>Log in as:</td>
					</tr>
					<tr>
					<td>
						<select name="UserType">
							<option value="">select option</option>
							<option value="Admin">Admin</option>
							<option value="Manager">Manager</option>
							<option value="Teacher">Teacher</option>
							<option value="Student">Student</option>
						</select>
					</td>
					</tr>
					<tr>
						<td>
							<br></br>
							<input type="submit" name="" value="Login">
							<a href="UserType.html"> Register </a>
						</td>
					</tr>
				</table>
			</fieldset>
	</center>
	
</body>
</html>